# Optional Syncfusion browser license. Browser-side VITE_ values are public.
# Copy this file to .env and paste your key, or leave it unset to run unlicensed.
# The app registers the key only if this variable is present (see src/main.tsx).
VITE_SYNCFUSION_LICENSE_KEY=
